/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ba-text-box {
	&.text-box-align-left{
		text-align: left;
	}
	&.text-box-align-center{
		text-align: center;
	}
	&.text-box-align-right{
		text-align: right;
	}
}
